section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 1.5s;
}
.slide-box img{
    width: 100%;
    z-index: 1; 
}
.slide-box h2{
    z-index: 999 !important;
}
.nav-manual, .nav-auto{
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 35%;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #576e13;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}
.nav-manual .manual-btn:hover{
    background-color: #576e13;
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #576e13;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #576e13;
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #576e13;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}