* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORES DO SITE */
:root{
    --cor-principal: #576e13;
    --cor-secundaria: #FFFF00;
    --cor-terciaria: #3A2F0B;
    --cinza-bg: #F2F2F2;
    --text-color: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--cinza-bg);
}

/* CABEÇALHO */
.header-mobile{
    display: none;
}
header{
    background: var(--cor-principal);
    height: 5rem;
    text-align: center;
}
#logo{
    width: 9rem;
}
#links-header ul{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#links-header ul li{
    list-style: none;
   
}
#links-header li a{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
}
/* ASIDE NAVEGAR MOBILE*/
aside.navegarMobile{
    position: absolute;
    z-index: 9999;
    width: 35%;
    height: auto;
    background-color:#576e13f3;
    display: none;
    justify-content: center;
    transition: 0.2s;
    border-bottom-right-radius: 100px;
    animation: menuMobile 1s forwards;
}
aside.navegarMobile.active{
    display: flex;
}
@keyframes menuMobile{
    from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }

aside.navegarMobile ul li{
    list-style: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--text-color);
}
#closeBtn{
    color: var(--text-color);
    font-size: 30px;
}
aside.navegarMobile a{
    color: var(--text-color);
    text-decoration: none;
}
/* BOTÃO VISITAR */
.btnVisitar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 45px;
   
}
.btnVisitar button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-terciaria);
    color: var(--cinza-bg);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}
.btnVisitar button:hover{
    width: 205px;
    height: 45px;
    font-size: 16px;
}

/* SEJA BEM- VINDO*/
#bemVindo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
    color: var(--cor-terciaria);
    font-size: 30px;
}
#bemVindo #localizacao{
    font-size: 15px;
}
#bemVindo #sejaBemVindo{
    font-size: 20px;
}

/* BOX ATRAÇÕES DO LOCAL */

section.containerLocal{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
section.containerLocal #boxComida {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background: url(./images/comidas.jpg)center/cover;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    border: solid 2px var(--cor-terciaria) ;
    cursor: pointer;
    filter: contrast(2px);
    transition: 1s;
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500);
}
section.containerLocal #boxAmbiente{
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background: url(./images/ambiente\ \(1\).jpg)center/cover;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    border: solid 2px var(--cor-terciaria) ;
    cursor: pointer;
    filter: contrast(2px);
    transition: 1s;
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500);
}
section.containerLocal #boxComoChegar{
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background: url(./images/viajar-de-carro-por-uma-estrada-ensolarada.jpg)center/cover;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    border: solid 2px var(--cor-terciaria) ;
    cursor: pointer;
    transition: 1s;
    z-index: 1 !important;
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500);
}
section.containerLocal h4{
    margin-top: 250px;
    height: 30px;
}

section.containerLocal #boxComida:hover, #boxAmbiente:hover, #boxComoChegar:hover{
    font-size: 25px;
}
/* SOBRE NÓS */
.sobreNos{
    display: flex;
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--cor-principal);
    width: 100vw;
    height: 600px;
}
.sobreNos span{
    font-size: 20px;
    font-weight: 600;
}
.sobreNos h2{
    font-size: 50px;
}
.sobreNos p{
    font-size: 20px;
}
#textSobreNos{
    margin: 10px 0 24px;
    padding: 10px;
}
.sobreNos #textSobreNos{
    width: 50%;
}
.sobreNos #imgSobreNos{
    width: 50%;
    height: 600px;
    background: url(./images/mulher-comendo-alegre\ \(1\).jpg)center/cover;
}

#iconArrow{
    text-align: center;
    font-size: 30px;
    color: var(--cor-terciaria);
    height: 30px;
}
/* FOTO DO LOCAL */
section.fotoLocal{
   height: 250px;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
#boxFotoLocal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 95%;
    border-radius: 3px;
    background: url(./images/venha-visitar.jpg)center/cover;
    color: var(--text-color);
    flex-direction: column;
}
#boxFotoLocal h4{
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500);
    font-size: 35px; 
}
#boxFotoLocal span{
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500); 
    font-size: 20px;
    font-weight: 500;
}
/* DEPOIMENTOS */
section.depoimentos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #576e13ae;
    text-align: center;
    width: 100%;
}
.depoimentos img{
    width: 30%;
    margin: 15px auto;
    border-radius: 5px;
}
#textDepoimentos{
    font-size: 25px;
    color: var(--text-color);
    margin: 15px auto;
    text-shadow: 3px  3px 3px  rgba(0, 0, 0, 0.500); 
}
#imgDepoimentos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.depoimentos a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 15px auto;
    text-decoration: none;
    color: rgb(20, 20, 20);
    height: 25px;
    transition: 0.7s;
}
.depoimentos a:hover{
    font-size: 25px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: var(--cor-principal);
    margin-top: 30px;
}
.footerLogo img{
    width: 200px;
}
.footerLista{
   display: flex;
   justify-content: center;
}
.footerLista ul li{
    list-style: none;
    text-align: center;
    margin-top: 10px;
    color: var(--text-color);
    cursor: pointer;
}
.footerMidias{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
   justify-content: center;
   align-items: center;
}
.footerMidias a{
    text-decoration: none;
    margin: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color);
}
.assinatura{
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.607);
    margin-bottom: 20px;
}

